production:
  mail_transport:            ':smtp'
  mail_address:              ''
  main_port:                 587
  main_domain:               ''
  main_user_name:            ''
  main_password:             ''
  main_authentication:       ''
  main_openssl_verify_mode:  'tls'
  main_enable_starttls_auto: true